.productsDiv {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.cartDiv {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}